<html>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1> Thanks!</h1>

  <div id="app">
    <div v-if="links">
      <a :href="links.redir">Download File</a>
    </div>
  </div>

  <!-- Program: Begin -->
  <script src="//www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        links: null
      },
      created: function () {
        var vm = this;
        axios('/files/info.json').then(function (res) {
          Vue.set(vm, 'links', res.data);
          setTimeout(vm.download, 3000);
        });
      },
      methods: {
        download: function () {
          if (this.links) {
            window.location = this.links.redir;
            Vue.set(this, 'links', null);
          }
        }
      }
    });
  </script>
  <!-- Program: End -->
</body>

</html>